

.step1 {margin: 0 20%; padding-bottom: 50px;}

.step-box {height: 320px; padding: 20px; background-color: #fafafa;}

.step-img{height: 160px; background-color: #e8e8e8;}




@media (min-width: 1921px) {
    .step1 {  margin: 0 30%;  }
}



@media (min-width: 1450px) and (max-width: 1920px) {
    .step1 {  margin: 0 35%;  }
}


    @media (min-width: 1450px) and (max-width: 1920px) {
    .step1 {margin: 0 25%;}
}


@media (min-width: 1240px) and (max-width: 1449px) {
    .step1 {margin: 0 15%;}
}



