.centered-text {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.step1 {width: 100%; max-width: 500px; padding-bottom: 50px;}

.step-box {height: 340px; padding: 20px; background-color: #fafafa;}

.step-img{height: 220px; background-color: #e8e8e8;}

.step-image {height: 200px;  padding-top: 27px;}


@media (min-width: 1921px) {
    .step1 {  max-width: 600px;  }
}


@media (min-width: 1450px) and (max-width: 1920px) {

}


@media (min-width: 1200px) and (max-width: 1449px) {

}


@media (min-width: 992px) and (max-width: 1119px) {

}

