

/*
@media (min-width: 1681px) and (max-width: 1920px)  {

}

@media (min-width: 1367px) and (max-width: 1680px) {

}
*/

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 { /* Title name */
        padding: 0 10px;
      
      }
 article {
      margin: 0 25px;
    }  
}

@media (max-width: 767px) {

      .navbar-header button.navbar-toggle {
        margin-top: -57px;
        margin-right: 30px;
      }

      .navbar-brand h1 { /* Title name */
        padding: 0 20px;
      
      }


     #collapsable-nav { /* Collapsed nav menu */
      background-color: #fff;
      }

      #collapsable-nav a span { /* Collapsed nav menu span */
        font-size: 1.2em;
      }


    #header-nav {
      border: none;
      padding-bottom: 0;
    }

    article {
      margin: 0 40px;
    }  


}


@media (max-width: 479px) {

}

