@media (min-width: 1681px) and (max-width: 1920px)  {
	p {
		color: red;
	}
}

@media (min-width: 1367px) and (max-width: 1680px) {
	p {
		color: black;
	}
}

@media (min-width: 1201px) and (max-width: 1366px) {
	p {
		color: blue;
	}
}

@media (min-width: 1025px)and (max-width: 1200px) {
	p {
		color: green;
	}
}

@media (min-width: 767px) and (max-width: 1024px) {
	p {
		color: orange;
	}
}

@media (min-width: 481px)  and (max-width: 768px) {
	p {
		color: black;
	}
	#p1, #p2 {
	width: 80%;
	margin: 1% 10%;
	}

}

@media  (min-width: 300px) and (max-width: 480px) {
	p {
		color: blue;
	}

	#p1, #p2 {
	width: 80%;
	margin: 1% 10%;
	}
}