* {
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
	overflow: auto;
	/* 
	
	clear: both; 
	font-family: Helvetica, Arial;
	*/

	font-weight: 100;
	font-size: 110%;
	text-align: justify;
}

h1 {
	color: red;
	font-size: 45px;
	text-align: center;
}

#p1 {
	text-align: center;
	border-bottom: 1px solid black;
}

#lorem {	
	border-bottom: 1px solid black;

}

#lorem2 {
	border-bottom: 1px solid black;
}

@media (min-width: 1201px) and (max-width: 2560px) {

.col-lg-5.col-left {
	margin-left: 5.55%;
	margin-right: 0;
	padding: 0;
}
.col-lg-5.col-right {
	margin: 0 5.55%;
	padding: 0;
} 

}

@media (min-width: 992px) and (max-width: 1200px) {

.col-md-4.col-left {
	margin-left: 11.11%;
	margin-right: 0;
	padding: 0;
	color: blue;
}
.col-md-4.col-right {
	margin: 0 11.11%;
	padding: 0;
	color: magenta;
} 

}

@media (min-width: 769px) and (max-width: 991px) {

.col-sm-5.col-left {
	margin-left: 5.55%;
	margin-right: 0;
	padding: 0;
	color: DarkCyan ;
}
.col-sm-5.col-right {
	margin: 0 5.55%;
	padding: 0;
	color: crimson;
} 

}