<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>schol.io | Διεκδίκησε τώρα την υποτροφία που σου ταιριάζει.</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon-144.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon-72.ico">
    <link rel="apple-touch-icon-precomposed" href="img/favicon-57.ico">


    <!-- Google Fonts -->
    <!--
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i
    |Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i
    |Oxygen:300,400,700
    |Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=greek" rel="stylesheet">
    -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=greek" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


    <!-- Ionic Icons -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">

    <link href="css/Bootstrap-xxs-xxxs.css" rel="stylesheet">



    <!-- Main CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/studies.css" rel="stylesheet">



    <!--====== Javascript Files =======-->

    <!-- jQuery js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Select js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.4/js/bootstrap-select.min.js"></script>



    <!-- Vue js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
    <!--<script src="js/studies-Vue.js"></script>-->







</head>

<body>
<div class="container" id="vue-elem">
    <div class="row col-sm-4 pad-top-20">
        <!--<input class="" type="text" id="input" v-model="message">-->
        <!--<h3> The value is {{message}}</h3>-->

        <!--<ul>-->
            <!--<li v-for="name in names">{{name}}</li>-->
        <!--</ul>-->
            <!--<input type="text" v-model="newName">-->
            <!--<button @click="addName()">Add Name</button>-->
            <!--<button @click="changeColor()">Change Color</button>-->
            <!--<p :class="{'is-color':isColor}"> Color</p>-->


        <h3>All Tasks</h3>
        <ul>
            <li v-for="task in tasks"> {{task.description}}</li>
        </ul>
        <h5>Completed Tasks</h5>
        <ul>
            <li v-for="task in tasks" v-if="task.completed"> {{task.description}}</li>
        </ul>
        <h5>InCompleted Tasks</h5>
        <ul>
            <li v-for="task in incompleteTasks"> {{task.description}}</li>
        </ul>




    </div>

</div>
</body>

<script>
//    let data ={
//        message: 'Hello kfrei'
//    };

    new Vue ({
        el: '#vue-elem',
        data:{
//            message: 'Hello kfrei'
//            names: ["Fredy", "Maria", "Pakis","Elena"],
//            newName:'',
//            isColor: false
            tasks: [
                { description: "Go to the store", completed: true },
                { description: "Finish the screencast", completed: true },
                { description: "Make donation", completed: false },
                { description: "Clear inbox", completed: false },
                { description: "Make dinner", completed: false },
                { description: "Clean room", completed: false }
            ]

            },


        computed:{
            incompleteTasks() {
                return this.tasks.filter(task => !task.completed);
            }
        },

        methods: {
//            addName(){
//                this.names.push(this.newName);
//                this.newName = '';
//            },
//            changeColor(){
//                this.isColor=!this.isColor;
//            }

        },
        mounted() {

        }

    })



</script>


</html>
